<div class="container">
    <div class="login">
        <img src="assets/img/logo.jpeg" alt="image non affichée">
        <form>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi-envelope-at-fill"></i></span>
                <input type="text" class="form-control border border-primary rounded" placeholder="E-mail">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi-lock-fill"></i></span>
                <input type="password" class="form-control border border-primary rounded" placeholder="Mot de passe">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary bg-blue rounded">
                    Se connecter
                </button>
                <br />
                <p class="text-center">
                    <a routerLink="/reinitialize-password">Mot de passe oublié ?</a>
                </p>
            </div>
        </form>
    </div>
</div>

